<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="angular-resource.js"></script>    
    <script src="angular-cookies.js"></script>    
    <script src="angular-route.js"></script>    
    <script src="component.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
  </head>

  <body ng-controller="commentController">
    <center>
      <a href="#" ng-click="loadComment(last_comment_id)" ng-show="showLoadMore">load more</a>
    </center>
    <div class="container">
      <div>
        <div ng-repeat="user in users" style="float:left; margin: 50px;">
          <h3>{{ user }}</h3>
          <div style="height: 200px; overflow: scroll">
            <div ng-repeat="comment in comments" ng-show="comment.username_real == user">
                {{ comment.message | task }}
            </div>
          </div>       
        </div>
      </div>
    </div>
 </body>
</html>
