@import 'bourbon/bourbon';
@import 'bitters/bitters';
@import 'neat/neat';
@import '../../packages/fontawesome/scss/font-awesome';

body {
	background: #bef8cf url(../img/congruent_pentagon.png) repeat top center;
	padding: 35px 0;
}
#container {
	background: #4b4b4b;
	width: 960px;
	margin: 30px auto;
}
header {
	width: 100%;
	height: 100px;
	background: url(../img/header.png) repeat-x center top;
	text-align: center;
	box-shadow: 0 3px 7px rgba(0,0,0,.7);
}
div#sub-header {
	background: url(../img/subheaderbckg.png) no-repeat center top;
	width: 100%;
	height: 130px;
	background-size: cover;
	text-align: center;
	img {
		margin: 20px auto;
	}
}
div#content {
	padding: 20px;
	ul#task-lists {
		@include outer-container;
		& > li {
			background: #ececec;
			padding: 20px 20px 5px 20px;
			border-radius: 7px;
			box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
			@include span-columns(4);
			@include omega(3n);
		}
		h3 { font-size: 23px; }
		hr {
			margin: 5px -20px;
		}
		a.load-more {
			text-align: center;
			text-decoration: none;
			display: block;
			color: #676767;
		}
	}
}
ul.task-details {
	margin: -5px -20px;
	li {
		transition: all 0.32s;
		@include background-image(linear-gradient( #5eb781, #47a46a ));
		&:hover {
			@include background-image(linear-gradient( lighten(#5eb781,10%), lighten(#47a46a,10%) ));
		}
		padding: 10px;
		a {
			color: #ececec;
			text-shadow: 0 0 1px transparent;
			position: relative;
			display: block;
			p {
				font-size: 14px;
				font-weight: 300;
			}
		}
		i {
			display: block;
			position: absolute;
			top: 0; right: 0;
			height: 100%; width: 30px;
			font-size: 24px;
			line-height: 55px;
		}
	}
}